.wrapper {
    font-family: 'Ubuntu', sans-serif;
}

.logo__img {
    width: 128px;
    height: 40px;
}

.contacts {
    align-items: center;
}

.contacts,
.contacts__inner-container {
    display: flex;
    flex-direction: column;
}

.contact {
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    display: flex;
}

.contact::before {
    padding-right: 4px;
}

.contacts__mess-contact::before {
    content: url(../img/icon/message-icon.png);
}

.contacts__phone-contact::before {
    content: url(../img/icon/phone-icon.png);
}

.main-title-mod {
    background-color: #000000;
    color: #ffffff;
}

.course-section__sign {
    position: relative;
    font-size: 1.1rem;
    font-weight: 700;
    padding-left: 80px;
    margin-bottom: 30px;
    color: #231f20;
}

.course-section__sign::before {
    position: absolute;
    top: 4px;
    left: 0;
    display: block;
    content: '';
    width: 40px;
    height: 6px;
    background-color: #000000;
}

.course-section__title::before {
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    background-color: #000000;
    margin: 0 auto 10px;
}

.carousel {
    position: relative;
    box-sizing: border-box;
    width: 228px;
    min-height: 184px;
    margin: 0 auto;
    box-shadow: -4px 4px 14px #ebebeb;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 20px;
    opacity: 0;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.arrow-prev {
    left: -35px;
    background-image: url(../img/icon/prev.png);
}

.arrow-next {
    right: -35px;
    background-image: url(../img/icon/next.png);
}

.carousel__content {
    line-height: 1.56;
    letter-spacing: 1.3px;
}

.carousel__content::before {
    display: block;
    content: '';
    width: 8px;
    height: 8px;
    background-color: #f06e2c;
    margin-bottom: 8px;
}

[id^="target-item"] {
    display: none;
}

.item-1 {
    z-index: 2;
    opacity: 1;
}

*:target~.item-1 {
    opacity: 0;
}

#target-item-1:target~.item-1 {
    opacity: 1;
}

#target-item-2:target~.item-2,
#target-item-3:target~.item-3,
#target-item-4:target~.item-4 {
    z-index: 3;
    opacity: 1;
}

@media (max-width: 1199px) {
    .wrapper {
        min-width: 300px;
        padding: 20px 10px;
    }
    .flow-logo {
        display: none;
    }
    .header {
        width: 300px;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 25px;
    }
    .logo {
        display: block;
        margin-bottom: 15px;
    }
    .contacts__mess-contact,
    .contacts__phone-contact:not(:last-child) {
        margin-bottom: 8px;
    }
    .main {
        margin: 0 auto;
        width: 300px;
    }
    .course-section {
        padding-bottom: 40px;
    }
    .course-section__main-title {
        text-align: center;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.3;
        margin-bottom: 25px;
    }
    .course-section__img {
        width: 300px;
        margin-bottom: 20px;
    }
    .section-title {
        font-size: 1.5rem;
        text-align: center;
    }
    .course-section__title {
        margin-bottom: 20px;
    }
    .about-section {
        padding-bottom: 40px;
    }
    .about-section__title {
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .wrapper {
        position: relative;
        width: 848px;
        margin: 0 auto;
    }
    .flow-logo {
        position: absolute;
        right: -426px;
        top: 538px;
        letter-spacing: 19px;
        display: block;
        font-size: 11.4rem;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        color: #f2f2f2;
        transform-origin: left bottom;
        transform: rotate(90deg);
        z-index: -1;
    }
    .header {
        padding: 32px 0 74px;
        display: flex;
        justify-content: space-between;
    }
    .contacts {
        width: 228px;
        flex-direction: row;
        justify-content: space-between;
    }
    .contact {
        font-size: 0.7rem;
        letter-spacing: 0.4px;
    }
    .contacts__inner-container {
        justify-content: space-between;
        min-height: 40px;
    }
    .course-section {
        padding-bottom: 48px;
    }
    .course-section__main-title {
        font-size: 3.56rem;
        font-weight: 700;
        line-height: 1.24;
        letter-spacing: 2.8px;
        margin-bottom: 28px;
    }
    .course-section__sign {
        box-sizing: border-box;
        width: 467px;
        font-size: 1.4rem;
        padding-left: 102px;
        margin-bottom: 56px;
    }
    .course-section__sign::before {
        width: 56px;
        height: 8px;
    }
    .course-section__inner-container {
        display: flex;
        justify-content: space-between;
    }
    .course-section__img {
        width: 416px;
        height: 514px;
    }
    .course-section__content {
        width: 415px;
    }
    .section-title {
        font-size: 2.3rem;
        line-height: 1.4;
    }
    .course-section__title {
        margin-bottom: 10px;
    }
    .course-section__title::before {
        width: 15px;
        height: 15px;
        margin: 0 0 10px;
    }
    .course-section__text {
        font-size: 1.09rem;
        letter-spacing: 0.29px;
        line-height: 1.46;
    }
    .about-section {
        padding-bottom: 110px;
    }
    .about-section__title {
        margin-bottom: 16px;
    }
    .carousel {
        width: 304px;
    }
    .carousel-item {
        padding: 17px 32px;
    }
    .arrow-prev {
        left: -45px;
    }
    .arrow-next {
        right: -45px;
    }
}

/* After course section */

.after-course__tittle,
.requirements__tittle {
    font-size: 2.3rem;
    line-height: 1.35;
    font-weight: 700;
}

.after-сourse {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.after-course__tittle {
    max-width: 255px;
    margin-bottom: 24px;
}

.after-course__tittle--bg-black {
    background-color: black;
    color: white;
}

.after-course__img {
    max-width: 100%;
    height: auto;
    margin-bottom: 36px;
}

.after-course__text {
    padding-left: 74px;
    position: relative;
    font-size: 1.06rem;
    line-height: 1.5;
    padding-bottom: 55px;
}

.after-course__text--after::after {
    content: "";
    display: block;
    position: absolute;
    background-color: black;
    width: 56px;
    height: 8px;
    top: 7px;
    left: 1px;
}

@media (min-width: 1200px) {
    .after-сourse,
    .requirements {
        position: relative;
    }
    .after-сourse {
        justify-content: flex-start;
        align-items: flex-start;
    }
    .after-course__tittle {
        align-self: flex-start;
    }
    .after-course__img {
        position: absolute;
        top: -52px;
        right: 46px;
        margin-bottom: 0;
    }
    .after-сourse__wrapper {
        padding-top: 40px;
    }
    .after-course__text {
        width: 45%;
        padding-bottom: 231px;
    }
}

/* Requirements section*/

.requirements {
    padding-bottom: 80px;
}

.requirements__tittle {
    max-width: 450px;
    margin-bottom: 36px;
}

.requirements__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.requirements__list {
    position: relative;
    min-height: 530px;
    min-width: 210px;
    box-shadow: -5px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.requirements__item-wrapper {
    position: relative;
}

.requirements__img {
    margin-bottom: 36px;
}

.requirements__text {
    font-weight: 400;
    font-size: 1.06rem;
    line-height: 1.5;
}

.requirements__text::after {
    content: attr(data-title);
    display: flex;
    position: absolute;
    font-size: 0.833rem;
    line-height: 1.6;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    background-color: #ef7330;
    color: white;
    width: 48px;
    height: 16px;
    top: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.requirements__item {
    position: absolute;
    top: 0;
    padding-top: 30px;
    margin-bottom: 0;
    opacity: 0;
}

.requirements__text {
    padding-left: 5px;
    padding-right: 5px;
}

.requirements__arrow {
    position: absolute;
    top: 96px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.requirements__arrow-prev {
    background-image: url(../img/icon/prev.png);
    left: -43px;
}

.requirements__arrow-next {
    background-image: url(../img/icon/next.png);
    right: -43px;
}

[id^="requirements__target-slide"] {
    display: none;
}

.slide-1 {
    z-index: 2;
    opacity: 1;
}

*:target~.slide-1 {
    opacity: 0;
}

#requirements__target-slide-1:target~.slide-1 {
    opacity: 1;
}

#requirements__target-slide-2:target~.slide-2,
#requirements__target-slide-3:target~.slide-3 {
    z-index: 3;
    opacity: 1;
}

@media (min-width: 1200px) {
    .requirements {
        padding-bottom: 154px;
    }
    .requirements__wrapper {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
    }
    .requirements__list {
        min-height: 297px;
        width: 56%;
    }
    .requirements__item {
        position: absolute;
        top: 0;
        padding: 50px 15px 0 0px;
        opacity: 0;
    }
    .requirements__img {
        margin-right: 56px;
        margin-bottom: 0;
    }
    .requirements__text {
        padding-bottom: 10px;
        padding-left: 50px;
    }
    .requirements__text::after {
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        background-color: #ef7330;
        color: white;
        width: 48px;
        height: 16px;
        top: 26px;
        left: -1px;
    }
    .slide-1 {
        z-index: 2;
        opacity: 1;
    }
}

/* Course Program section */

.program-container {
    padding-bottom: 50px;
    position: relative;
}

.background-container {
    position: absolute;
    font-size: 12rem;
    font-family: "Ubuntu";
    color: rgba(0, 0, 0, 0.051);
    font-weight: bold;
    text-transform: uppercase;
    transform: rotate(90deg);
    transform-origin: top left;
    top: -8.1%;
    left: 105%;
    display: none;
}

.course-content {
    counter-reset: lessons;
}

.program__header {
    background-color: #000;
    font-size: 2.4725rem;
    letter-spacing: 3px;
    font-family: "Ubuntu";
    color: #fff;
    font-weight: bold;
    line-height: 1.17;
    margin-bottom: 3.5rem;
}

.program__header::first-letter {
    text-transform: uppercase;
}

.course-content__item {
    counter-increment: lessons 1;
    margin-bottom: 1.5rem;
    flex: 0 0 32%;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
}

.course-content__item:last-of-type {
    margin-bottom: 0;
}

.course-content__item>.course-content__item-container:before {
    content: counter(lessons)'.';
    font-size: 1.9825rem;
    font-family: "Ubuntu";
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
    line-height: 1.135;
    position: absolute;
    left: -1.5%;
}

.course-content__item:nth-child(-n+9)>.course-content__item-container:before {
    content: 'O'counter(lessons)'.';
    font-size: 1.9825rem;
    font-family: "Ubuntu";
    font-weight: bolder;
    color: #000;
    text-transform: uppercase;
    line-height: 1.135;
    position: absolute;
    left: -0.7rem;
}

.course-content__item-header {
    font-size: 0.75rem;
    letter-spacing: 0.4px;
    font-family: "Ubuntu";
    color: #000;
    font-weight: bolder;
    text-transform: uppercase;
    line-height: 1.433;
    overflow: hidden;
    margin-bottom: 0.75rem;
}

.course-content__item::before {
    content: "";
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    background-color: #f26228;
    top: 2.75rem;
    position: absolute;
    left: 1.9rem;
}

.course-content__item:nth-of-type(-n+9):before {
    content: "";
    display: block;
    width: 0.375rem;
    height: 0.375rem;
    background-color: #f26228;
    top: 2.75rem;
    position: absolute;
    left: 2rem;
}

.course-content__item-container {
    padding-left: 4.42rem;
    flex: 0 1 50%;
    margin-bottom: 1rem;
}

.course-content__item-container>.course-content__item-content:last-of-type, .course-content__hometask-container>.course-content__item-content:last-of-type {
    margin-bottom: 0;
}

.course-content__hometask-container {
    padding-left: 4.42rem;
}

.course-content__item-content {
    font-size: 0.8rem;
    font-family: "PT+Sans";
    color: #3f4144;
    line-height: 1.1;
    display: block;
    margin-bottom: 1.2rem;
}

.course-content__item-hometask {
    display: inline-block;
    font-size: 0.75rem;
    font-family: "Ubuntu";
    color: #fff;
    line-height: 1.4;
    background-color: #f26228;
    padding-left: 0.250rem;
    padding-right: 0.250rem;
    margin-bottom: 0.5rem;
}

.course-content__item-hometask::first-letter {
    text-transform: uppercase;
}


@media (min-width: 1200px) {
    .course-content {
        display: flex;
        flex-wrap: wrap;
    }
    .course-content__item {
        margin-right: 1rem;
    }
    .course-content__item:nth-of-type(3n) {
        margin-right: 0;
    }
    .course-content__item:nth-last-child(-n+2) {
        margin-bottom: 0;
    }
    .background-container{
        display: block;
    }
    .program__header {
        display: inline-block;
        font-size: 3.4725rem;
    }
}

/* Footer */

.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 40px;
}

.footer_wrapper {
    display: flex;
    flex-direction: column;
    margin-bottom: 55px;
    box-shadow: -5px 6px 20px 0px rgba(0, 0, 0, 0.1);
}

.footer__list {
    display: flex;
    flex-direction: column;
    width: 300px;
    font-weight: 700;
}

.footer__item {
    width: 50%;
    text-align: right;
    font-size: 0.7rem;
    line-height: 1.433;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 23px;
}

.footer__item:first-of-type {
    padding-top: 49px;
}

.footer__item:nth-of-type(3) {
    margin-bottom: 33px;
}

.footer__item:last-of-type {
    margin: 0;
    position: relative;
    margin-bottom: 50px;
}

.footer__item-text {
    position: relative;
    display: inline-block;
    background: #000000;
    color: #ffffff;
    text-align: right;
}

.footer__item-text--margin {
    margin-bottom: 2px;
}

.footer__item-price {
    position: absolute;
    min-width: 68px;
    text-align: left;
    right: -75px;
    bottom: 0;
}

.footer__item-price--bottom {
    bottom: -15px;
}

.footer__item-price--bottom::before {
    position: absolute;
    content: "";
    display: block;
    height: 3px;
    width: 63px;
    top: 6px;
    left: 0px;
    transform: rotate(-14deg);
    background-color: rgb(239, 115, 48);
}

.footer__bonus {
    position: relative;
    font-size: 0.91rem;
    padding-bottom: 55px;
    text-align: left;
    color: rgb(239, 115, 48);
    line-height: 1.429;
    max-width: 70%;
    align-self: center;
}

.footer__button {
    border: none;
    padding: 0;
    text-transform: uppercase;
    background-color: rgb(239, 115, 48);
    box-shadow: 0px 9px 13px 0px rgba(184, 93, 39, 0.26);
    min-width: 300px;
    height: 48px;
    font-size: 1.11rem;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.253;
    text-align: center;
    cursor: pointer;
}

@media (min-width: 1200px) {

    .footer {
        padding-bottom: 134px;
    }
    
    .footer__item {
        font-size: 0.78rem;
        margin-bottom: 22px;
    }

    .footer__bonus--before::before {
        position: absolute;
        content: "";
        display: block;
        height: 34px;
        width: 3px;
        top: 5px;
        left: -27px;
        transform: rotate(30deg);
        background-color: #000;
    }

    .footer__list {
        min-width: 418px;
    }

    .footer__item-price {
        min-width: 74px;
        right: -82px;
        bottom: 0;
    }

    .footer__item-price--bottom {
        bottom: -15px;
    }

    .footer__button {
        min-width: 336px;
    }

    .footer__bonus {
        max-width: 60%;
    }
    
    .footer__item:first-of-type {
        padding-top: 47px;
    }
}
