
main {
    width: 85%;
    margin: auto;
    padding-bottom: 100px;
}
body { 
    counter-reset: headline;
  }  
  .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 20px;
    width: 500px;
  }
  
  .item  {
    width: 140px;
    height: 120px;
    border-radius: 25px;
  }
  .center {
    justify-content: center;
  }
  
  .product {
      display: block;
      background-color: #e9f0fd;
      width: 255px;
      margin: 15px;
      padding: 15px;
      border: 1px solid #000000;
  }
  
  .product>img {
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
  }
  .product>img:hover {
    box-shadow: 0 0 25px rgba(0,0,0,1);
  }
  
  @keyframes animationIMG {
    from { opacity: 0; }
    to { transform: rotate(5deg); }
  }
  .product>img:hover {
    animation-name: animationIMG;
    animation-duration: 0.2s;
  }
  
  button:hover {
    transition-property: 
        background,
        width;
      transition-duration: 0.2s;
      background: #FF0000;
      width: 100%;
  }
  
  .text-article:hover {
      transition-property: 
        color,
        font-size;
      transition-duration: 0.2s;
      color: #FF0000;
      transition-duration: 0.3s;
      font-size: 25px;
  }
  