body {
    background-color: #FFF;
    font-family: "Open Sans", arial, sans-serif;
    font-size: 14px;
    color: #626262;
    width: 100%;
    margin: auto;
}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

header {
    width: 1170px;
    border: 0px solid #626262;
    margin: 0px auto;
    padding: 0px 0px 0px 0px;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
    width: 100%;
}

.logo {
    
    width: 100px;
    margin: 37px 0px 0px 15px;
    font-size: 30px;
    color: #95e1d3;
}
.logo a, .logo a:hover, .logo a:visited {
    width: 100px;
    margin: 0px 0px 0px 0px;
    font-family: "Times New Roman", Times, serif;
    font-size: 30px;
    font-weight: 100;
    color: #95e1d3;
}

.menu {
    height: 50px;
    margin: 43px 30px 0px 10px;
    text-transform: uppercase;
    font-family: "Arial", Times, serif;
    font-weight: 400;
    font-size: 14px;
    vertical-align: middle;
}
.menu li a, .menu li a:visited {
    height: 50px;
    margin: 0px;
    text-transform: uppercase;
    font-family: "Roboto", Times, serif;
    font-weight: 700;
    font-size: 14px;
    color: #95e1d3;
    
}
.menu li a:hover {
    display: block;
    height: 50px;
    margin: 0px;
    text-transform: uppercase;
    font-family: "Roboto", Times, serif;
    font-weight: 700;
    font-size: 14px;
    color: #f38181;
    transform:  translateY(-3px);
    
}
.menu li a:hover::after {
    content: "";
    display: block;
    width: 100%;
    border-bottom: 2px solid #f38181;
    margin: 5px auto 0px auto;
   
}

ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

li {
    display: inline-block;
    text-align: center;
    margin: 0px 15px 0px 0px;
    padding: 0px;
}

h1 {
    margin: 0px;
    padding: 0px;
    color: #555252;
}

.caption {
    display: block;
    font-size: 48px;
    font-weight: 100;
    text-transform: uppercase;
    margin: 0px auto 0px auto;
    padding: 0px;
}

.menu a, .menu a:visited {
	text-decoration: none;
	color: #000000;
}
.menu a:hover {
    color: #1abc9c;
}

a, a:visited {
	text-decoration: none;
	color: #555252;
}

a:hover {
    color: #1abc9c;
}

main {
    width: 100%;
    margin: 0px auto;
}

.section_produkct {

    width: 1200px;
    margin: 0px auto;
    text-align: center;
    padding: 0px 15px;
}

.section_produkct>h3 {
    font-family: 'Courgette', cursive;
    font-size: 24px;
    font-weight: 100;
    margin: 100px 0px 0px 0px;
}

.section_lorem {
    font-family: "Roboto", Times, serif;
    font-size: 15px;
    width: 950px;
    color: #999999;
    margin: 0px auto;
}

.section_produkct>h2 {
    display: block;
    font-family: "Roboto", Times, serif;
    font-weight: 700;
    font-size: 30px;
    margin: 15px 0px 0px 0px;
}
.section_produkct>h2::after {
    content: "";
    display: block;
    width: 60px;
    border-bottom: 3px solid #f38181;
    margin: 20px auto 50px auto;
}

.product_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.product {
    background-color: #ffffff;
    width: 360px;
    height: 100px;
    margin: 15px;
}

.product>img {
    float: left;
}

.text-article {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    float: left;
    padding: 0px;
    margin: 0px;
}

.loremP {
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    padding: 10px; 
    text-align: left;
}
.pic {
    margin: 0px;
    padding: 0px;
    float: left;
    width: 90px;
    height: 100px;
    text-align: center;
}

.product2_1 {
    background: url("../img/man1.png");
    width: 380px;
    height: 470px;
    margin: 90px 10px 120px 10px;
    text-align: center;
}
.product2_2 {
    background: url("../img/man2.png");
    width: 380px;
    height: 470px;
    margin: 90px 10px 120px 10px;
    text-align: center;
}
.product2_3 {
    background: url("../img/man3.png");
    width: 380px;
    height: 470px;
    margin: 90px 10px 120px 10px;
    text-align: center;
}

.text-article2 {
    display: block;
    text-align: center;
    color: #333333;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 14px;
    font-weight: 100;
    text-transform: uppercase;
    padding: 0px;
    margin: 20px 0px 10px 0px;
}

.description_price {
    padding: 10px;
    color: #999999;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 13px;
    text-align: center;
    padding: 0px;
    margin: 0px;
}


.pic2 {
    margin: 0px;
    padding: 0px;
    width: 380px;
    height: 470px;
}



.button {
    display: none;
}
.product2_1:hover .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 470px;
 } 
 .product2_2:hover .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 470px;
 } 
 .product2_3:hover .button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 380px;
    height: 470px;
 } 

.product2_1:hover>.pic2 {
    display: block;
    width: 380px;
    height: 470px;
    background: linear-gradient(rgba(243,129,129,.8), rgba(252,227,138,.8));
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px#95e1d3; 
 }  
 .product2_2:hover>.pic2 {
    display: block;
    width: 380px;
    height: 470px;
    background: linear-gradient(rgba(243,129,129,.8), rgba(252,227,138,.8));
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px#95e1d3; 
 } 
 .product2_3:hover>.pic2 {
    display: block;
    width: 380px;
    height: 470px;
    background: linear-gradient(rgba(243,129,129,.8), rgba(252,227,138,.8));
    transform: translate(-10px, -10px);
    box-shadow: 10px 10px 0px#95e1d3; 
 } 

 .f {
    width: 56px;
    height: 56px; 
    background-color: #fce38a;
    margin: 0px 1px 0px 0px;
}
.f:hover {
    width: 56px;
    height: 56px; 
    background-color: #95e1d3;
    margin: 0px 1px 0px 0px;
}



button {
    display: inline-block;
    font-family: 'Playfair Display', arial, serif;
    color: #ffffff;
    text-decoration: none;
    background-color: #4ec6ab;
    border: 1px solid #4ec6ab;
    border-radius: 5px;
    padding: 10px 30px;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 88px;
    background-color: #ffffff;
    text-align: center;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1200px;
    height: 88px;
    border-top: 1px solid #999999;
    padding: 10px;
}

input {
    font-size: 20px;
    padding: 10px;
    border: 1px solid #999999;
  }

  .email {
    width: 250px;
    margin: 0px;
    
  }

  .submit {
    width: 150px;
    text-transform: uppercase;
    color: #FFFFFF;
    background-color: #4ec6ab;
    margin: 0px 0px 0px -5px;
  }