footer {
    font-family: 'Roboto-Light', 'Roboto-Medium', 'Cormorant', sans-serif;
}
.footer__section_up {
    width: 100vw;
    height: 220px;
}
.footer__section_grey {
    background: #efefef;
}
.footer__list-total_inner {
    padding-top: 20px;
}
.footer__list-total {
    display: flex;
    width: 320px;
    margin: 0 auto;
    align-items: baseline;
    justify-content: center;
}
.footer__item-total:nth-child(n+2) {
    display: none;
}
.section_down {
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.section_black {
    background: #222222;
}

    