body {
  font-family: "Roboto", sans-serif;
  background: #fff;
}

li {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #212121;
  transition: background-color 0.1s linear;
}

.js-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

section {
  margin: 0px 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px;

} 

.item {
  width: 220px;
  padding: 10px;
  margin: 10px 10px;
}

.img {
  width: 100%;
}

button {
  height: 200px;
  padding: 50px;
  background-color: #71fa6c;
}