body {
  font-family: "Roboto", sans-serif;
  background: #fff;

  display: flex;
  flex-wrap: row;
  justify-content: flex-start;
}

nav {
width: 250px;
border: 1px solid #CCCCCC;
}

main {
  width: 700px;
}

h2 {
  font-size: 14px;
}

li {
  display: block;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: #212121;
  transition: background-color 0.1s linear;
}
/* 
.js-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
} */

section {
  margin: 0px 50px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0px;

} 

.item {
  width: 150px;
  padding: 10px;
  margin: 10px 10px;
}

.img {
  width: 100%;
}

.submit {
  width: 70px;
  height: 30px;
  padding: 5px;
  margin: auto 10px; 
}

.reset {
  width: 70px;
  height: 30px;
  padding: 5px;
  margin: auto 10px; 
}