
main {
    width: 85%;
    margin: auto;
    padding-bottom: 100px;
}
body { 
    counter-reset: headline;
  }
  
  body { 
    counter-reset: headline;
  }
  
  ul {
      list-style: none;
  }
  
  li {
      float: left;
      width: 100px;
      text-align: center;
      font-size: 14px;
  }
  
  .task_two li:nth-child(-n + 4) {
    background-color: #88292F;
  }
  
  .task_two li:nth-child(n + 4) {
    background-color: #5DB7DE;
  }
  
  .task_two li:nth-child(n + 7) {
    background-color: #0D5D56;
  }
  
  .task_three li::before {
    content: "\2192";
    font-size: 18px;
    margin: 0px 3px;
  }
  
  a, a:visited {
    text-decoration: none;
    color: #0E1116;
  }
  
  a:hover  {
      color: #03a9f4;
  }
  
  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }
  
  .task_four li {
    counter-increment: headline;
  }
  .task_four li:before {
    dysplay: inline-block;
    content: counter(headline, upper-roman);
    margin: 0px 5px;
    vertical-align: middle;
  }